@keyframes FNAni {
    0%{
        transform: translateY(-100%) translateX(-500%);
    }
    100%{
        transform: translateY(-100%) translateX(-150%);
    }
}
@keyframes LNAni {
    0%{
        transform: translateY(-10%) translateX(500%);
    }
    100%{
        transform:  translateY(-10%) translateX(10%);
    }
}
@keyframes FNAniSmall {
    0%{
        transform: translateY(-100%) translateX(-500%);
    }
    100%{
        transform: translateY(-100%) translateX(-100%);
    }
}
@keyframes LNAniSmall {
    0%{
        transform: translateY(-10%) translateX(500%);
    }
    100%{
        transform: translateY(-10%) translateX(-15%);
    }
}
@media only screen and (max-width: 615px) {
    .FN{
        transform: translateY(-100%) translateX(-100%);
        
        animation: FNAniSmall .8s cubic-bezier(1, 1.61, 0.66, 0.76);
    }
    .LN{
        transform: translateY(-10%) translateX(-15%);

        animation: LNAniSmall .8s cubic-bezier(1, 1.61, 0.66, 0.76);
    }
  }
  