@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Georama', sans-serif;
    scroll-behavior: smooth;

    overflow-x: hidden;
}
/* body{
} */
.landing{
    z-index: 5;
    height: 100vh;
}
.landing h1{
    font-family: 'Teko', sans-serif;
    
    /* color: #52ceff; */
}
.FN{
    color: #FFC300;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-100%) translateX(-150%);
    font-size: 100px;
    animation: FNAni .8s cubic-bezier(1, 1.61, 0.66, 0.76);
}
.LN{
    color: #FFC300;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-10%) translateX(10%);
    font-size: 100px;
    animation: LNAni .8s cubic-bezier(1, 1.61, 0.66, 0.76);
}
.LandingParalax{
    width: 100%;
    height: 100%;

    background-image: url('./img/dottex.png');

    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.ResumeLandinPP{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    z-index: 3;
}
.ResumeLandinPP img{
    width: 400px;
}

.blurrer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(1px);
    z-index: 2;
    
}
.Decor0{
    font-size: 80px;
    position: absolute;
    top: 2%;
    left: 20%;
    color: #d6a70e;
    
}
.Decor1{
    font-size: 80px;
    position: absolute;
    top: 75%;
    left: 75%;
    color: #d6a70e;
    transform: translateY(-50%) translateX(-50%);
}
.Decor2{
    font-size: 80px;
    position: absolute;
    top: 20%;
    left: 70%;
    color: #d6a70e;
    transform: translateY(-50%) translateX(-50%);
}
.Decor3{
    font-size: 80px;
    position: absolute;
    top: 80%;
    left: 35%;
    color: #d6a70e;
    transform: translateY(-50%) translateX(-50%);
}
.Decor4{
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 20%;
    color: #d6a70e;
    transform: translateY(-50%) translateX(-50%);
}
.Decor5{
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 70%;
    color: #d6a70e;
    transform: translateY(-50%) translateX(-50%) ;
    
}





.AboutMe{
    display: flex;
    padding: 150px 20px 150px 20px;
    z-index: 7;
    background-color: #FFC300;
}

.AboutMeImage{
    width: 50%;
    display: grid;
    place-items: center;
}
.AboutMeImage img{
    max-width: 90%;
}
.AboutMeText{
    width: 50%;
    padding-right: 20px
}
.AboutMeText H1{
    padding-bottom: 20px;
}
.AboutMeText p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(68, 68, 68);
}